@import 'tailwindcss';

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
}
